<div class="container-fluid">
<section class="container">
     <div class="container-page">    
  <div class="col-md-12"> 

  
<h1> Welcome eveyone !!<h1>
<p><h4> <i>A Simple Time Tracking Application beta 1 </i></p></h4><br>
<hr>


<p><h2>Features </h2> <br>


<ul>
<li>Sign-up , Login , Logout system </li><br>
<li>Can Take leave: Annual Leave, Personal Leave , Sick Leave</li><br>
<li>Search bar duration of time </li><br>
<li>Display data with BarChart, LineChart (Chartkick)</li><br>
</ul>




<p></p><h2>Configuration <p></h2> <br>


<ul>
<li> Ruby version 2.4.1 </li><br>
<li>Database creation : sqlite3 </li><br>
<li>Deploy server : Heroku</li><br>
</ul>

</div>
</section>
</div>
