<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			
<h1> Welcome eveyone !!<h1>
<p><h3> <i>A Simple Time Tracking Application </i></p></h3><br>
<hr>


<p><h2>Features :</h2> <br>



- Sign-up , Sign-in , Login , Logout system <br>
- Can add Timein , Timeout <br>
- Can Take leave Annual leave, Personal leave , Sick leave <br>
- Search bar time durations <br>


<p></p><h2>Things you may want to cover : <p></h2> <br>


- Ruby version 2.4.1 <br>

- Database creation : sqlite3 <br>

- Deploy server : Heroku <br>

<hr>

<p></p><h2>Contact : <p></h2> <br>

Github : @newzpanuwat


</div>
    </section>
            </div>