 <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">


       <h1> Dashboard page<h1>
                    <p><h4> <i>Welcome back ... </i></p></h4><br>
                                        
                    <hr>
                    
                    <p><h4> <i>Employee day working </i></p></h4>
                    <%= line_chart @posts.group(:date).count, label: "All employee work today: ", download: true, min: 0, max: 20 %>
                    <br>
                    <p><h4> <i>Employee leaveday used</i></p></h4>
                    <%= column_chart @leavedays.group(:leavetype).sum(:duration), label: "Summary", download: true, min: 0, max: 20, width: "400px", height: "300px" %>

      </div>

    </div> <!-- /container -->

                   
                 