 <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
    <h2>Editing leaveday</h2>

<%= render 'form', leaveday: @leaveday %>


<%= link_to 'Show', @leaveday %> |
<%= link_to 'Back', leavedays_path %>
</div>
</div>



