<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
    <h2>Editing leaveday</h2>

<%= render 'form', leaveday: @leaveday %>


<%= link_to 'Show', @leaveday %> |
<%= link_to 'Back', leavedays_path %>
</div>
</div>
</section>


