 <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
    <h2>Add new leaveday</h2>


<%= render 'form', leaveday: @leaveday %>
<br>
<%= link_to 'Back', leavedays_path %>
</div>
</div>




